*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
@media screen and (max-width: 1024px){
    .header-image img{
        padding-top: 120px;
    }
}


@media only screen and (min-width: 768px){

    .banner{
        width: 100%;
    }

    .header-title{
        width: 100%;
        margin-left: -15%;
    }
    .header-image{
        width: 100%;
    }
    .header-image img{
        width: 100%;
    }
}